
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

*{
  margin: 0;
  padding: 0;
  --header-border-color: rgb(200, 200, 200);
  --title-color: gainsboro;
  --keyboard-background-color: rgb(129, 131, 132);
  --keyboard-letter-color: rgb(215, 218, 220);
  --deepLightPurple: rgb(100, 11, 129);
  --modalHeaderColor: hsl(290, 50%, 50%); 
  --modalHeaderBackground: rebeccapurple;

  
}

body {
    background-image: url(./img/newyearssmall.jpg);
    background-size: cover;
    background-size: stretch;

   
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    z-index: -10;
}

h1 {
    font-weight: normal;
    font-size: 2.5rem;
    margin-top: 5rem;
    text-align: center;
}

h5 {
  margin: 0;
}

.header-left{
  width: 245px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(250, 235, 215, .7);
  margin: 0 auto;
  margin-top: 2px;
  border-radius: 5px;
}
.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
    min-width: 50px;
    max-width: 150px;
}


.countdown-el span {
    font-size: 1.95rem;
    }


#navbar{
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


#top-navbar{
  width: 75vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
}



nav {
/*  background-color: rebeccapurple; */
  background-color: darkgray;
  opacity: .85;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 2rem;
  transform: translateX(100%);
  transition: transform .5s ease-in-out; 
}

nav.active{
  transform: translateX(0);
}

ham.active{
  transform: translateX(-100px);
}


.btn{
  background-color: rebeccapurple;
  background-color: rgb(55, 55, 55);
  font-size: 2vh;
  padding: 0 5rem; 
  border: none;
  color: white;
  transition: transform .5s ease-in-out; 
  margin-bottom: 5px;
  border-radius: 10px;
}
button:hover{
  cursor: pointer;
}


#ham{
  background-color: rebeccapurple;
  background-color: darkgray;
  font-size: 2.5vh;
  border: none;
  color: white;
  position: fixed;
  top: 2px;
  right: 20px;
  transition: transform 0.5s ease-in-out; 
}
#ham:hover{
  cursor: pointer;
}


#ham.active{
  transform: translateX(-235px);
}


/*
#add{
  background-color: rebeccapurple;
  border: none;
  color: white;
  position: fixed;
  top: 45px;
  right: 20px;
  transition: transform 0.5s ease-in-out; 
}*/
#add:hover{
  cursor: pointer;
}
/*
#add.active{
  transform: translateX(-235px);
}*/

/*
#edit{
  background-color: rebeccapurple;
  border: none;
  color: white;
  position: fixed;
  top: 70px;
  right: 20px;
  transition: transform 0.5s ease-in-out; 
}*/
#edit:hover{
  cursor: pointer;
}
/*
#edit.active{
  transform: translateX(-235px);
}*/

/*
#del{
  background-color: rebeccapurple;
  border: none;
  color: white;
  position: fixed;
  top: 95px;
  right: 20px;
  transition: transform 0.5s ease-in-out; 
}*/
#del:hover{
  cursor: pointer;
}
/*
#del.active{
  transform: translateX(-235px);
}*/



#link-help{
  background-color: rebeccapurple;
  border: none;
  color: white;
  position: absolute;
  top: 55px;
  right: 18px;
  font-size: 33px;
  transition: transform 0.5s ease-in-out; 
}
#link-help:hover{
  cursor: pointer;
}




  .hidden{
    display: none;
  }

    /* MEDIA QUERIES */
  @media screen and (min-width: 572px){
    h1 {
      font-size: 3.0rem;
      }
    .big-text{
      font-size: 4.0rem;
    }    
  }      

  @media screen and (min-width: 750px){
    body{
      background-position: center;
    }
    h1 {
      font-size: 3rem;
      }
    .big-text{
      font-size: 4rem;
    }  

    .btn{
      font-size: 2.55vh;
    }
  }      

  @media screen and (max-height: 400px){
    .btn{
      font-size: 4vh;
    }
  }   


   #custom-occasions{
    width: 100%; 
    background-image: url('https://images.pexels.com/photos/3127588/pexels-photo-3127588.jpeg?auto=compress&cs=tinysrgb&w=1600');

   }  

   #occasion-container{
    width: 98vw;
    max-width: 700px;
    border-radius: 25px;
    margin: 0 auto;
    touch-action: none;
   }

   .occasion-small{
    width: 25%;
    border-radius: 5px;
   }


   .black-bkg{
    background-color: rgb(0, 0, 0, .5);
    color: white;
   }

   .white-bkg{
    background-color: rgb(256, 256, 256, .5);
    color: black;
   }

   .no-bkg-white{
    background-color: rgb(256, 256, 256, .0);
    color: white;
   }

   .no-bkg-black{
    background-color: rgb(256, 256, 256, .0);
    color: black;
   }

   #custom-occasions-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: red;
     max-width: 700px;
     margin: 0 auto;
     padding: 0;
   }

   .occasion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 25px;
    padding: 0;
  }

  .occ-info{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .occ-info h2{
    margin: 0;
  }
     
  #custom-edit{
    background-color: rgba(8, 68, 52, 0.85);
    width: 90vw;
    max-width: 500px;
    position: relative;
    margin-top: 10px;
    padding: 10px;
  }


  #landscape-img{
    width: 25%;
    display: flex;
    margin: 0 auto;
   }

   #portrait-img{
    width: 12%;
    display: flex;
    margin: 0 auto;
   }

   #button-collection{
     display: flex;
     width: 50%;
     margin: 0 auto;
     justify-content: center;
     align-items: center;
   }

   button {
     margin-right: 5px;
   }

   #form-input{
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     height: 14vh
   }

   i{
    cursor: pointer;
  }

  header i{
    font-size: 1.25rem;
    color: var(--header-border-color);
  }
  


   /* MODAL POPUP CSS  */
#help-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Times New Roman', Times, serif;
}

#view-help-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Times New Roman', Times, serif;
}

.stats-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#stats-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Times New Roman', Times, serif;
}

#delete-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Times New Roman', Times, serif;
}


/*
.categories-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}*/

#categories-body{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 
 /* display: flex;
  flex-direction: column;
    justify-content: center;*/
  align-items: center;
  
}

.category{
  cursor: pointer;
}

#categories-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Times New Roman', Times, serif;
}


#preferences-body{
  display:grid
}


#preferences-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Times New Roman', Times, serif;
}



.modal-content {
  position: relative;
  background-color: rgb(238, 238, 238);
  margin: auto;
  padding: 0;
  width: 95%;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 1.5s;
  border-radius: 0.3rem;
  text-align: left;

}
.modal-header {
  position: relative;
  padding: 2px 12px;
  background-color: var(--deepLightPurple);
  background: rgb(251,193,29);
/*  background: radial-gradient(circle, rgba(251,193,29,1) 0%, rgba(251,193,29,1) 25%, rgba(220,20,60,1) 100%); */
  background: radial-gradient(circle, var(--modalHeaderBackground), rgba(251,193,29,1) 25%, var(--modalHeaderBackground) 100%); 
  color: rgb(201, 170, 113);
  color: black;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  text-align: center;
}
.modal-header h2{
  font-size: 1.5rem;
  margin-top: 14px;
  margin-bottom: 14px;
  position: relative;
}
.modal-body {
  padding: 2px 12px;
  color: black;
/*  display: flex; */
  justify-content: center;
  font-size: 16px;
}
.portrait-modal-body {
  height: 70vh;
  padding: 2px 12px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  border: 2px solid green;
}

.modal-footer {
  padding: 1rem;
  background-color: #ffffff;
  color: #333;
  border-top: 1px solid #e9ecef;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  text-align: right;
}

h3{
  text-align: center;
}

h3:last-child{
  margin-bottom: 1rem;
}

.close {
  position: absolute;
  right: 10px;
  top: 0px;
  color: #eee;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}


.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.info {
  position: absolute;
  left: 20px;
  top: 10px;
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}


.info:hover, .info:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#delete-stats:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#yes:hover, #no:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*
a{
position: absolute;
top: 12px;
right: 50%;
}
*/

/* add animation effects */
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatebottom {
from {top:0; opacity:1}
to {top:-300px; opacity:0}
}

@media (min-width: 750px){
  .modal-body {
    font-size: 16px;
   }
}


.results{
  display: none;
}

hr{
  width: 99%;
  color: red;
  text-align: center;
}

#results-tray{
  display: grid;
  grid-template-columns: 5fr 18fr 1fr;
  font-size: .9rem;
}

#delete-stats{
  margin-left: 30px;
}

#duplicate{
  width: 20px;
  height: 20px;
  color: gold;
  top: 0px;
  left: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}


.parent{
  color: green;
}

.child{
  margin-left: 20px;
  display: none;
}





/*/ TAKEN FROM TUTORIALSPAGE.COM */
#wrapper {
	font-family:verdana;
	margin: 30px auto ;
	padding: 30px;
	background: #4D6879; /* You can change the main color of thew form here. */
	background: #960c73; /* You can change the main color of thew form here. */
	font-size: 14px;
	width:100%;
	max-width:500px;
	box-sizing: border-box;
}
 
label {
	display: block;
	font-size: 24px;
	padding: 4px 0;
	color: #fff;
	text-shadow: 1px 1px 1px #666;
}
 
input {
	height: 18px;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 10px #444;
	-moz-box-shadow: 0 0 10px #444;
	box-shadow: 0 0 10px #444;
	border: 1px solid #fff;
}
 
textarea {
  width: 85%;
  display: flex;
  margin: 0 auto;
  color: gray;
 	height: 75px;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	border: 1px solid #fff;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 10px #444;
	-moz-box-shadow: 0 0 10px #444;
	box-shadow: 0 0 10px #444;
}
 
input[type="text"]:hover, textarea:hover {
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
}
 
input#submit {
	text-align: center;
	color: #fff;
	height: 50px;
	padding: 0;
	text-shadow: 1px 1px 1px #000;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 50px;
	border: 1px solid #000;
	background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #000000));
	background: -webkit-linear-gradient(top, #3b3b3b 0%,#000000 100%);
	background: -moz-linear-gradient(top, #3b3b3b 0%,#000000 100%);
	background: -o-linear-gradient(top, #3b3b3b 0%,#000000 100%);
	background: -ms-linear-gradient(top, #3b3b3b 0%,#000000 100%);
	background: linear-gradient(top, #3b3b3b 0%,#000000 100%);
	opacity: 0.5;
}
 
input#submit:hover {
	color: #ccc;
	cursor: pointer;
	opacity: 0.8;
}
 
label {
	text-transform: uppercase;
	font-size: 14px;
}


.action-buttons button {
  position: absolute;
  top: 50%;
  z-index: 100;
  font-size: 1.5rem;
  border: none;
  background: none;
} 


.action-buttons .left-button {
  left: .20%;
}

.action-buttons .right-button {
  right: 0%;
}


.small-text{
  font-size: 1rem;
}

.med-text{
  font-size: 1.29rem;
}

span > .time-literals{
  font-size: 5rem;
}